#start{
  display: flex;
  flex-direction: column;
  gap: 20vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: green;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}


@media only screen and (max-width:599px){

    body{
    
    display: flex;
    flex-direction: column;
    height: 100lvh;
    width: 100lvw;
    justify-content: center;
    align-items: center;
    gap: 10vh;

}
#game_container{
    background-color: #0bd347;
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}
#game_container>div{
    
    text-align: center;
    height:12vh;
    width: 10vh;
    font-size: 10vh;
    
}
#dash>div{
    color: blue;;
}
#dash{
    gap: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score{
    display: flex;
    gap: 30vw;

}
#result{
    height: fit-content;
    width: fit-content;
    font-size: 6vh;
}
.xo{
    background-color: black;
    color: #080bcf;
    
}
.xo:hover{
    background-color: rgba(255, 0, 0, 0.7);
}
#playerone{
  text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#startgame{
  color: green;
  font-size: 3vh;
  background-color: #080bcf;
  box-shadow: .1vh .1vh 3vh green;
  border-radius: 40%;
  font-weight: bolder;
}


#title{
  font-size: 4vh;
}

#name1{
  font-size: 3vh;
  color: #49e90a;
}
#name2{
  font-size: 3vh;
  color:#49e90a;
}

#playertwo{
  text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#choose{
display: flex;
}
 
#score>div{
    color: #080bcf;
    
    overflow-x:  scroll;
    text-align: center;
    font-size: 8vh;
   
    min-width:20vw;
    min-height: 10vh;
    height: fit-content;
    width: fit-content;
    max-height: 20vh;
    max-width: 40vw;
}
#score>div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    background-color: #080bcf;
  }
  
  div::-webkit-scrollbar {
    width: 2vh;
    background-color: #0bd347;
  }
  
  div::-webkit-scrollbar-thumb {
    border-radius: 10%;
    -webkit-box-shadow: inset 0 0 1vh rgba(255, 0, 0, 0.466);
    background-color: #49e90a;
  }
  #resetbutton{
    margin-top: -8vh;
    background: green;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    box-shadow: .1vh .2vh 1vh blue;

  }
  

}
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width:600px){
  body{
    
    display: flex;
    flex-direction: column;
    height: 100lvh;
    width: 100lvw;
    justify-content: center;
    align-items: center;
    gap: 10vh;

}
#game_container{
    background-color: #0bd347;
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}
#game_container>div{
    
    text-align: center;
    height:15vh;
    width: 14vh;
    font-size: 10vh;
    
}
#dash>div{
    color: blue;;
}
#dash{
    gap: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score{
    display: flex;
    gap: 30vw;

}
#result{
    height: fit-content;
    width: fit-content;
    font-size: 6vh;
}
.xo{
    background-color: black;
    color: #080bcf;
    
}
.xo:hover{
    background-color: rgba(255, 0, 0, 0.7);
}
#playerone{
  text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#startgame{
  color: green;
  font-size: 3vh;
  background-color: #080bcf;
  box-shadow: .1vh .1vh 3vh green;
  border-radius: 40%;
  font-weight: bolder;
}


#title{
  font-size: 4vh;
}

#name1{
  font-size: 3vh;
  color: #49e90a;
}
#name2{
  font-size: 3vh;
  color:#49e90a;
}

#playertwo{
  text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#choose{
display: flex;
}
 
#score>div{
    color: #080bcf;
    
    overflow-x:  scroll;
    text-align: center;
    font-size: 6vh;
   
    min-width:20vw;
    min-height: 10vh;
    height: fit-content;
    width: fit-content;
    max-height: 20vh;
    max-width: 40vw;
}
#score>div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    background-color: #080bcf;
    width: 3vh;
  }
  
  div::-webkit-scrollbar {
    width: 1vh;
    background-color: #0bd347;
  }
  
  div::-webkit-scrollbar-thumb {
    border-radius: 10%;
    -webkit-box-shadow: inset 0 0 1vh rgba(255, 0, 0, 0.466);
    background-color: #49e90a;
  }
  #resetbutton{
    
    background: green;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    box-shadow: .1vh .2vh 1vh blue;

  }
  
}